body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.err-msg {
  text-align: start;
  color: red;
  width: 300px;
  font-weight: 550;
  margin-top: -10px;
  margin-bottom: 1em;
}

.form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  text-align: center;
}

select,
textarea {
  display: block;
  width: 300px;
  padding: 16px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px; 
}

.flex{
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
